body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: white;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 100;
}

h3{
  color: #222;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.yt-icon {
  color: red;
  font-size: 28px;
}

.left-section h2 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.search-container {
  width: 600px;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 16px;
  background: #fff;
}

.search-button {
  position: relative;
  top: 02px;
  width: 65px;
  height: 37px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #ffffff;
}

.voice-icon {
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
  margin-right: 50px;
}

.voice-icon:hover {
  color: #251c1c;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.create-btn {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  border: 1px solid #d3d3d3;
  padding: 8px 14px;
  border-radius: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.create-btn:hover {
  background-color: #e6e6e6;
}

.signin-btn {
  background-color: #ffffff;
  color: rgb(0, 112, 240);
  border-color: rgb(0, 162, 255);
  padding: 8px 18px;
  border-radius: 50px;
  border-width: 2px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.Videos {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
  margin-top: 80px;
  margin-left: 250px;
}

.Videos iframe {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Videos iframe:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 18px rgba(0,0,0,0.25);
}

@media (max-width: 768px) {
  .center-section {
    width: 70%;
  }

  .create-btn span {
    display: none;
  }

  .left-section h2 {
    display: none;
  }
}