body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: white;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 100;
}

h3{
  color: #222;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.yt-icon {
  color: red;
  font-size: 28px;
}

.left-section h2 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.search-input {
  position: relative;
  align-items: center;
  display: flex;
  flex: 1;
  margin-left: 32px;
  margin: 0 0 0 40px ;
  height: 40px;
  margin-top: 50px;
  background-color: #fff;
  border: 1px solid black;
  border-color: #c6c6c6;
  box-shadow: inset 1px 2px #eee;;
  font-size: 15px;
  border-radius: 40px 0 0 40px;
  padding: 0 4px 0 16px;
}

.search-button {
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  width: 64px;
  border-radius: 0 40px 40px 0;
  color: rgb(0, 0, 0);
  padding: 0;
  cursor: pointer;
  margin: 0;
  transition: background 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #ffffff;
}

.voice-icon {
  color: rgb(0, 0, 0);
  background-color: #eae3e3;
  font-size: 24px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 0px;
  transition: color 0.2s;
}

.voice-icon:hover {
  color: #251c1c;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.create-btn {
  background-color: #eae3e3;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 15px;
  border-radius: 25px;
  display: flex;
  align-items: 50px;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.create-btn:hover {
  background-color: #ffffff;
}

.bell-icon {
  font-size: 22px;
  cursor: pointer;
}

.signin-btn {
  background-color: #ffffff;
  color: rgb(0, 112, 240);
  border-color: rgb(0, 162, 255);
  padding: 8px 18px;
  border-radius: 50px;
  border-width: 2px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.Videos {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
  margin-top: 80px;
  margin-left: 250px;
}

.Videos iframe {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Videos iframe:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 18px rgba(0,0,0,0.25);
}

@media (max-width: 768px) {
  .center-section {
    width: 70%;
  }

  .create-btn span {
    display: none;
  }

  .left-section h2 {
    display: none;
  }
}