.feedback-container {
  padding: 30px;
  margin-left: 260px;
}

.feedback-title {
  font-size: 28px;
  margin-bottom: 25px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
}

.feedback-textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.feedback-textarea:focus {
  border-color: #1a73e8;
}

.feedback-btn {
  width: 120px;
  padding: 10px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-start;
  font-size: 15px;
}

.feedback-btn:hover {
  background: #166ddc;
}
